body {
    margin: 0;
    color: #646C79;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 16pt;
    font-weight: lighter;
}


/* MAIN SECTION  */

#main-background {
    height: 100vh;
    background-image: url(img/Lux-city.jpg);
    background-size: cover;
    background-position: top;
}

#main-background .main-title h1 {
    color: black;
    background-color: white;
    opacity: 0.28;
}

#main-background .main-title h2 {
    color: white;
    background-color: black;
    opacity: 0.7;
    text-align: center;
}

#main-background .yolo {
    color: white;
}

/********** section 1 **************/

.section-who {
    padding-top: 30px;
}

.intro {
    line-height: 1.2em;
}

.intro h1 {
    font-size: 3.2rem;
    color: black;
    letter-spacing: -0.07em;
}

.intro .intro-upper-p {
    font-size: 1.3em;
    padding-bottom: 10px;
}

.intro-down-p {
    font-size: 1.1em;
}

.section-who img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: grayscale(100%);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23);
    margin-bottom: 10px;
}

.section-who img:hover {
    opacity: 1;
    -webkit-filter: none !important;
    filter: none !important;
    cursor: pointer;
}

.section-who p {
    text-align: left;
}

/* QUOTATION MARK*/
#quotation {
    position: relative;
    background-color: #fafafa;
    color: #646c79;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 30px;
    border: solid 1px transparent;
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
    font-weight: 500;
}

#quotation-title {
    position: absolute;
    top: 0;
    right: 0;
    color: black;
}

#quotation-title h2 {
    font-size: 1.4em;
    background-color: rgb(241, 241, 241);
    border-radius: 8px;
    padding: 5px 10px;
    position: relative;
    top: 5px;
    right: -20px;
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
    -o-transform: rotate(33deg);
    -ms-transform: rotate(33deg);
    transform: rotate(33deg);
}

#quotation:hover {
    opacity: 0.8;
}

#quotation:hover .middle {
    opacity: 1;
}

#quotation .sign {
    color: black;
    font-weight: 400;
}

.fa-quote-left {
    padding-bottom: 10px;
}

.fa-quote-right {
    float: right;
    padding-top: 10px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.text {
    background-color: #282f40;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
}

.text a {
    color: inherit;
}


/* 
SECTION WHAT I DO  */

.sections-tittles {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}

#section-what {
    /* -webkit-box-shadow: inset 0px 3px 9px -1px lightgray; 
    box-shadow: inset 0px 3px 9px -1px lightgray; */
    -webkit-box-shadow: inset 0px 3px 2px -2px #D3D3D3;
    box-shadow: inset 0px 3px 2px -2px #D3D3D3;
    padding: 30px;
}

#section-what .test3 {
    display: inline;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    position: relative;
}

#section-what .test3 p {
    text-align: left;
}

#section-what .test3 h3 {
    margin-bottom: 30px;
}

.container-logos {
    padding-bottom: 20px;
}

#section-what .logo {
    padding: 10px;
    height: 80px;
    object-fit: cover;
    -webkit-transition: background-color 1.3s ease-out;
    -moz-transition: background-color 1.3s ease-out;
    -o-transition: background-color 1.3s ease-out;
    transition: background-color 1.3s ease-out;
    border-radius: 0.5em;
}

#section-what .logo:hover {
    transition: all 0.6s ease;
    -webkit-transition: all 0.5s ease;
    background-color: #ececec;
}

.what h1 {
    font-size: 3.2rem;
    color: black;
    letter-spacing: -0.07em;
}

.what .what-upper-p {
    font-size: 1.30em;
    padding-bottom: 10px;
}

/* ICONS & TITLES*/

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.6em;
}

.fa-laptop-code,
.fa-cogs {
    color: #646C79;
    -webkit-text-stroke: 5px white;
}

.fa-headset {
    color: #646C79;
    -webkit-text-stroke: 4px white;
}


#projects {
    background-color: #282f40;
    padding-bottom: 50px;
}

#projects h2 {
    color: white;
}


#section-footer {
    background-color: #d8d8d8;
    height: 200px;
}

font-family: 'Nerko One', cursive;

/* FOOTER  */

#section-footer i {
    margin: 20px;
}

@media (max-width: 575.98px) {
    #section-footer i {
        margin: 10px;
    }

}

/* ANIMATIONS */